/* ------------------------------------ */
/*					CSS					*/
/*  	  Add your styles here			*/
/* ------------------------------------ */
.TTA-section {
  max-height: 5%;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.TTA-section + div.playlist-section {
    max-height: 100%;
    transition: all 0.5s ease-out;
}
.TTA-section.player {
  max-height: 200%;
}
.TTA-section.expanded {
  max-height: 200%;
}
.TTA-section + div.playlist-section {
  max-height: 90%;
  overflow-y: scroll;
}
.TTA-section.expanded + div.playlist-section {
  max-height: 10%;
}
.TTA-app {
  height: 100%;
}

.TTA-logo{
  margin:4px;

}
input#TTAserverURL{
  width:95%
}
 button.start-server {
  /* padding: 10px; */
  margin: 6px;
  width: 50%;
}
.TTA-hidden{
  display:none
}
