{{log this}}


    <div id="TTA-section" class="TTA-section {{#unless isGM}} player{{/unless}}">
        <!-- Directory Header -->
        <header class="directory-header">
            <div class="header-actions action-buttons flexcol">
                
                <img src="https://images.tabletopaudio.com/tta_brand_txt2.gif" class="TTA-logo" alt="Tabletop Audio" title="minimize/maximize">
            {{#if isGM }}  
              <span>
                    <input id="TTAserverURL" name="{{TTAserverURL}}" value="{{TTAserverURL}}"
                        placeholder="server link" />
                    <button class="start-server"><i class="fas fa-music"></i>invite other players<i
                            class="fas fa-music"></i> </button>
                </span>
                {{/if}}

            </div>
        </header>
        {{#if isGM }}
        <iframe  id="TTA" class="TTA-app" src="https://tabletopaudio.com/soundpad.html"></iframe>
        {{/if}}
        {{#unless isGM}}
                <span id="broadcast-msg">GM isn't broadcasting any soundpad yet</span>

        <iframe id="TTA-Player" class="TTA-app" src="" ></iframe>

        {{/unless}}

    </div>
